<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite verbose="2" preserve-order="true" name="... Form Regression" parallel="false">
    <test  name="Approval Form" parallel="false">
        <classes>
            <class name="runner.FormApprovalRunner">
            <methods>
                <include name="runScenarioAppForm"/>
            </methods>
            </class>
        </classes>
    </test>

    <test name="Realization Form" parallel="methods">
        <classes>
            <class name="runner.FormRealizationRunner">
                <methods>
                    <include name="runScenarioReaForm"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Validate File" parallel="methods">
        <classes>
            <class name="runner.ValidateFileRunner">
                <methods>
                    <include name="runScenarioReaForm"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>